<div>
  <img src="../../assets/Images/header/Background-left-logo.svg" alt="" />
</div>
<!-- <div class="bottom-right-img"><img src="../../assets/Images/Footer/footer_background_right.svg" alt=""></div> -->
<div class="header">
  <div class="logo-name">
    <div><img src="../../assets/Images/Logo.svg" alt="" /></div>
    <div><h2>Logoipsum</h2></div>
  </div>
</div>

<div class="form-vector">
  <div>
    <div><h1>Sign in as</h1></div>

    <div class="users-selector">
      <div class="d-flex admin-selector">
        <div>
          <span class="ms-4"
            ><img class="admin-icon me-4" src="./" alt="" />Admin</span
          >
        </div>
        <div id="admin-checkbox">
          <input
            type="checkbox"
            class="rounded-checkbox"
            id="checkbox"
            routerLink="/admin"
          />
        </div>
      </div>
      <div class="user-selector mt-5">
        <span class="ms-4"
          ><img
            class="user-icon me-4"
            src="./img/user-logo.svg"
            alt=""
          />User</span
        >
      </div>
      <div id="user-checkbox">
        <input
          type="checkbox"
          class="rounded-checkbox"
          id="checkbox"
          routerLink="/cart"
        />
      </div>
    </div>
  </div>
  <div>
    <img src="../../assets/Images/header/logo.svg" alt="" />
  </div>
</div>

<!-- <footer>
  <hr />

  <div class="footer-content">
    <div class="copyright">2022 @ copyright</div>
    <div><img src="../../assets/Images/Footer/Footer_logo.svg" alt="" /></div>
    <div class="policy-content">
      privacy policy
      <ul>
        <li>terms & condition</li>
      </ul>
    </div>
  </div>
</footer> -->
